.main {
  margin: 0;
  height: 1024px;
}

#prefectures path:not(:hover) {
  fill: #bbee66;
}
#prefectures path:hover {
  fill: #42afe3;
}
/* #prefectures path:not(:last-child) {
  fill: #42afe3;
} */
