.question {
  max-width: 95%;
  min-width: 40%;
  width: 80vh;
  height: auto;
}

.inputContainer {
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5vh;
  height: 30vh;
}

.answer {
  width: 40vw;
  height: 6vh;
  text-align: center;
  font-size: 4vh;
}

.button {
  width: 12vh;
  height: 6vh;
  font-size: 3vh;
}
