.question {
  height: 55vh;
}

.inputContainer {
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5vh;
  height: 10vh;
}

.textArea {
  width: 40vw;
  height: 6vh;
  text-align: center;
  font-size: 4vh;
}

.button {
  width: 12vh;
  height: 6vh;
  font-size: 3vh;
}

.main {
  position: relative;
  overflow: hidden;
}

.questionContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100vw;
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100vh;
  left: 0;
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
}

.first {
  top: 0;
  left: 0;
}

select {
  width: 10vw;
  height: 6vh;
  text-align: center;
  font-size: 4vh;
}

.range {
  width: 40vw;
  height: 6vh;
  align-items: unset;
  /* 今回みたいにデフォルトで全体に指定しちゃうと、こういう標準で用意してくれてるものを使うときバグります。。。 */
}

#output1 {
  font-size: 2vw;
  margin: 0 3vw;
}

#mov {
  width: 40vw;
  height: 50vh;
  position: relative;
}

video {
  position: absolute;
  height: 46vh;
  top: 0;
}

#play {
  position: absolute;
  width: 40vw;
  height: 50vh;
  top: 0;
  left: 0;
}

#play:hover {
  background: url(./start.png) top no-repeat;
  background-size: cover;
  opacity: 50%;
}

#pause {
  position: absolute;
  width: 40vw;
  height: 50vh;
  top: 0;
  left: 0;
  display: none;
}

#pause:hover {
  background: url(./stop.png) top no-repeat;
  background-size: cover;
  opacity: 50%;
}

#seek {
  z-index: 2;
  position: absolute;
  bottom: -1vh;
  left: 0;
  height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  background-color: black;
}

#seekbar {
  width: 40vw;
  height: 1vh;
  border-radius: 5px;
  background: linear-gradient(rgb(194, 24, 24), rgb(194, 24, 24)) no-repeat
    rgb(187, 187, 187);
}
